body {
    background-color: aqua;
    color: blue;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: navy;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px
}
main {
    background-color:aquamarine;
    color:rgb(27, 106, 253);
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}
header {
    background-color: rgb(41, 139, 204);
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;

}
